/*===== AGENTS =====*/
#agent-list {
    max-height: 70vh;
}

.agent-card {
    aspect-ratio: 1 / 1;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    padding: 3px; 
}

.agent-card:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 15px rgba(255, 70, 85, 0.4), inset 0 0 10px rgba(255, 70, 85, 0.5);
    filter: brightness(1.2);
    transform: scale(1.1);
}

.agent-card {
    transition: all 0.2s ease-in-out;
}

.agent-card.selected {
    border-color: #ff4655 !important; 
    background-color: rgba(255, 70, 85, 0.2);
    box-shadow: inset 0 0 10px rgba(255, 70, 85, 0.5);
}

.ability-box-fixed {
    width: 400px; 
    min-height: 200px;
}

.ability-icon.selected {
    border-color: #ff4655 !important; 
    background-color: rgba(255, 70, 85, 0.2);
    box-shadow: 0 0 15px rgba(255, 70, 85, 0.4), inset 0 0 10px rgba(255, 70, 85, 0.5);
    filter: brightness(1.2);
    transform: scale(1.1);
}

.ability-icon {
    transition: all 0.2s ease-in-out;
}


/*====== SCROLLBAR FOR AGENT LIST =====*/
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(15, 25, 35, 0.1);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ff4655;
}

/*===== BACKGROUND =====*/
body {
    background-image: linear-gradient(rgba(15, 25, 35, 0.8), rgba(15, 25, 35, 0.8)), 
                      url('https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/blt2909187978d4791e/629929f12959880f68288591/VALORANT_ANALYTICS_Article_Header.jpg');
    background-size: cover;
    background-position: center;
}

#main-portrait {
    filter: drop-shadow(0 0 20px rgba(255, 70, 85, 0.3));
}